<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Ajax(vue-resource)</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
<div id="box">
    <!--Get 请求-->
    <input type="button" @click="get()" value="点我异步获取数据(Get)">
    <!--post 请求-->
    <input type="button" @click="post()" value="点我异步获取数据(Post)">
    <!--使用 vue-resource 的 jsonp 处理跨域请求-->
    请输入关键字：<input type="text" v-model="keyword" @keyup="sendJsonP(keyword)">
    <ul>
        <li v-for="r in result">{{r}}</li>
    </ul>
</div>
<script type="text/javascript">
    /*以下是一个简单的 Get 请求实例，请求地址是一个简单的 txt 文本*/
    window.onload = function () {
        var vm = new Vue({
            el: '#box',
            data: {
                msg: 'Hello World!',
            },
            methods: {
                get: function () {
                    //发送get请求
                    this.$http.get('/try/ajax/ajax_info.txt').then(function (res) {
                        document.write(res.body);
                    }, function () {
                        console.log('请求失败处理');
                    });
                }
            }
        });
        var vm2 = new Vue({
            el: '#box',
            data: {
                msg: 'Hello World!',
            },
            methods: {
                post: function () {
                    //发送 post 请求
                    this.$http.post('/try/ajax/demo_test_post.php', {
                        name: "菜鸟教程",
                        url: "http://www.runoob.com"
                    }, {emulateJSON: true}).then(function (res) {
                        document.write(res.body);
                    }, function (res) {
                        console.log(res.status);
                    });
                }
            }
        });
    }
    //你可以使用全局对象方式 Vue.http 或者在一个 Vue 实例的内部使用 this.$http来发起 HTTP 请求。
    // 基于全局Vue对象使用http
    //Vue.http.get('/someUrl', [options]).then(successCallback, errorCallback);
    //Vue.http.post('/someUrl', [body], [options]).then(successCallback, errorCallback);

    // 在一个Vue实例内使用$http
    //this.$http.get('/someUrl', [options]).then(successCallback, errorCallback);
    //this.$http.post('/someUrl', [body], [options]).then(successCallback, errorCallback);

    //使用 vue-resource 的 jsonp 处理跨域请求：
    new Vue({
        el: '#app',
        data: {
            keyword: '',
            result: ''
        },
        methods: {
            sendJsonP(keyword) {
                let url = 'https://www.baidu.com/sugrec?pre=1&p=3&ie=utf-8&json=1&prod=pc&from=pc_web';
                this.$http.jsonp(url, {
                    params: {
                        wd: keyword
                    },
                    jsonp: 'cb'//jsonp默认是callback,百度缩写成了cb，所以需要指定下                     }
                }).then(res => {
                    if (res.data.g) {
                        this.result = res.data.g.map(x => x['q']);
                    } else {
                        this.result = [];
                    }
                });
            }
        }
    });
</script>
</body>
</html>